<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
 {% include 'header.html' %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<!--<div class="custom-select-box">
                        <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
							<option>¥ JPY</option>
							<option>$ USD</option>
							<option>€ EUR</option>
						</select>
                    </div>-->
                    <div class="right-phone-box">
                        <p>Call Us : <a href="#"> +91 9488442555</a></p>
                    </div>
                   
                </div>
                <!--<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					<div class="login-box">
						<select id="basic" class="selectpicker show-tick form-control" data-placeholder="Sign In">
							<option>Register Here</option>
							<option>Sign In</option>
						</select>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
 <script>
     const item = {};
     let total = 0;

     function add(id,cost){
           if(item[id]===undefined){
             item[id]=1;
             document.getElementById(id).innerHTML=eval(item[id]);total+=cost;
         }
         else{
              item[id]=eval(item[id])+1;
              document.getElementById(id).innerHTML=item[id]
               total+=cost;

         }
           document.getElementById("total").innerHTML=total.toString();
     }
     function sub(id,cost){

         if(item[id]===undefined){
             item[id]=0;
             document.getElementById(id).innerHTML=item[id]


         }
         if(item[id]-1===0){
            document.getElementById(id).innerHTML=0;
             total-=cost;
         }
         else{
              item[id]=item[id]-1;
              document.getElementById(id).innerHTML=item[id]
              total-=cost;
         }
          document.getElementById("total").innerHTML=total.toString();

     }
     function placeorder() {
         console.log(item, total);
         $.ajax({
        type : "POST",
        url : "/order",
        data: JSON.stringify({order:item,total:total}),
            contentType: 'application/json;charset=UTF-8',
        success : function(data){
            console.log("success");
        }
    });
     }
 </script>
        <!-- Start Navigation -->
        {% include 'afterLogNav.html' %}

        <div>
        {% block product %}
            {% for i in product %}
                <div class="card">

            <img src={{ url_for('static',filename="upload/"+i.image) }} style="width:200px;height:100px" alt="sds">
                    <h1>{{  i.productname}}</h1>
             <p class="price">{{i.cost}}</p>
              <span id={{ i.id }}>0</span>
            <p><button onclick="add({{ i.id }},{{ i.cost }})">+</button><button  onclick="sub({{ i.id }},{{ i.cost }})">-</button></p>
           </div>
            {% endfor %}
        {% endblock %}
        </div>
    <center><h1 id="total">0</h1></center>
    <center><button onclick="placeorder()">PLACE ORDER</button></center>
    <!-- End Shop Page -->

   

    <!-- Start Footer  -->
    {% include 'ContacusFooter.html' %}
    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company"><b>All Rights Reserved. &copy; 2021 <a href="#">Agro Services</a>            
    </div>
    <!-- End copyright  -->



{% include 'footer.html' %}
</body>

</html>